@use '../root' as *;
@use '../utilities' as *;

.service-page {
    border-bottom: 1px solid $border-color2;
    &-item {
        margin-bottom: 100px;
        &__number {
            color: rgba(255, 255, 255, 0.00);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $white-color;
            font-family: $title-font;
            font-size: 350px;
            font-style: normal;
            font-weight: 600;
            line-height: 280px;
            text-transform: uppercase;

            @include breakpoint (max-xxl) {
                font-size: 150px;
                line-height: 1.4;
            }
        }

        &__title {
            color: $white-color;
            font-family: $title-font;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            margin-bottom: 30px;

            @include breakpoint (max-xxl) {
                font-size: 30px;
                line-height: 1.4;
            }
        }

        &__desc {
            color: $text-color2;
            font-family: $body-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-align: start;
            margin-bottom: 30px;
            max-width: 664px;
        }

        &__feature {
            color: $white-color;
            font-family: $title-font;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: 36px;
            padding: 30px 0;
            border-bottom: 1px solid $border-color1;
        }

        &__thumbs {
            margin-top: 60px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        } 

        &__thumb {
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }
}